body {
  background-color: #3d5a80;
  color: #ee6c4d
}

#javascript {
  display: none;
}

#python {
  display: none;
}

#swift {
  display: none;
}

#csharp {
  display: none;
}

#toocool {
  display: none;
}

#old {
  display: none;
}

.range input {
  width: 100%;
}

.range {
  border: solid #293241 5px
}

.custom {
  border: solid #293241 5px;
}

div {
  width: 50%;
  margin: 1rem;
}

.container {
  border: solid #98c1d9 5px;
}

h1 {
  text-align: center;
}

#header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

