body {
  background-color: #3d5a80;
  color: #ee6c4d;
  font-size: large;
}

#javascript {
  display: none;
}

#python {
  display: none;
}

#swift {
  display: none;
}

#csharp {
  display: none;
}

#toocool {
  display: none;
}

#old {
  display: none;
}

#output {
  display: none;
  font-size: larger;
}

.range input {
  width: 100%;
}

.range {
  border: solid #293241 5px;
  padding: 1rem;
}

.custom {
  border: solid #293241 5px;
  padding: 1rem;
}

div {
  width: 50%;
  margin: 1rem;
}

.container {
  border: solid #98c1d9 5px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin: 1rem;
}

img {
  border-radius: 2rem;
  margin: 1rem;
}

#header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

#old img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

#toocool img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

#messed-up {
  display: none;
}

h4 {
  margin: 1rem;
  text-decoration: underline;
}

button {
  margin: 1rem;
}
